{% extends "base.html" %} <! --nyní dědí z tohoto hlavního a vykresluje se tedy do něj.-->
{% block header %}
Zde je něco zajímavého<br>
{{ super() }} <! -- vykresli header z base, kdyz chci to same pro footer musim pridat block footer a zese pouzit super()-->
{% endblock %}

<! --  -->

{% block content %}
    <form method="POST">
        {{ form.hidden_tag() }}

        <! -- instanci formuláře, který si automaticky vezme
        data z requestu. Poté zkontrolujeme, zda byl formulář odeslán a provedeme
        validaci dat. Pokud vše proběhlo úspěšně, data načteme a vrátíme
        výsledek -->
        <table>
            <tr><td>{{ form.prvni_cislo.label }}:</td><td>{{ form.prvni_cislo }}</td></tr>
            <tr><td>{{ form.operator.label }}: </td><td>{{ form.operator }}</td></tr>
            <tr><td>{{ form.druhe_cislo.label }}: </td><td>{{ form.druhe_cislo }}</td></tr>
            <tr><td>{{ form.submit.label }}</td><td> {{ form.submit }}<td></tr>  <! -- definovane v main ve form  -->
        </table>
    </form>
    {% for field, errors in form.errors.items() %}
        {% for error in errors %}
            <span style="color: red;">Chyba pole - {{ field }} hláška - {{ error }}</span><br>
        {% endfor %}
    {% endfor %}
    <hr>
    Výsledek: {% if vysledek %} {{ vysledek }} {% else %} Vyplň formulář {% endif %}
{% endblock %}

{% block footer %}
Zde je footer<br>
{{ super() }} <! -- vykresli header z base-->
{% endblock %}